/*Basic*/

html,
body {
    height: 100%;
    color: #444;
}
h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* Header */

.header {
    font-family: Raleway, sans-serif;
    color: #fff;
}
.header a {
    color: #fff;
}
.header-page {
    position: relative;
    height: 400px;
    background-size: 100%;
}
.header-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 93, 39, 0.9);
}
.page-title {
    position: absolute;
    bottom: 30px;
    text-transform: uppercase;
    color: #fff;
}
/* Main Navigation */

.navbar-brand {
    padding: 7px 0;
}
.navbar-brand img {
    max-height: 100%;
}
.navbar-fixed-top {
    top: 25px;
}
@media (max-width: 768px) {
    .navbar-fixed-top {
        top: 0;
    }
    .navbar-header,
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.95);
        position: relative;
        z-index: 1;
    }
    .navbar-brand {
        padding: 15px
    }
    .navbar-brand img {
        height: 25px
    }
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav>li>a {
    padding: 1px 0;
    margin: 12px 15px 10px 15px;
}
.navbar {
    border-radius: 0;
}
.navbar-inverse {
    background-color: rgba(13, 14, 12, 0.5);
    border-color: transparent;
    position: fixed;
    z-index: 3;
    width: 100%;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a{
    background: none;
}
/* Full Slider */

.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-title {
    font-weight: 700;
}
.carousel-caption {
    width: 35%;
    position: absolute;
    top: 50%;
    left: auto;
    bottom: auto;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    text-shadow: none;
    text-align: left;
}
@media (max-width: 768px) {
    .carousel-caption {
        width: 70%;
    }
}
.readmore {
    display: inline-block;
    background: #015b25;
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}
.readmore:hover {
    color: inherit;
    text-decoration: inherit;
    background: rgb(1, 80, 31);
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.arrow-control {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.arrow-control.left {
    left: 20%;
}
.arrow-control.right {
    right: 20%;
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
/*Teaser*/

.teaser-area {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}
@media (max-width: 768px) {
    .teaser-area {
        position: relative;
        bottom: 0;
        margin-right: 0;
    }
}
.teaser {
    height: 135px;
    margin: 10px 0;
}
.teaser-title {
    text-align: right;
    font-size: 1.4em;
    text-transform: uppercase;
    padding-top: 15px;
}
@media (max-width: 1200px) {
    .teaser-title {
        font-size: 1.3em;
    }
}
@media (max-width: 768px) {
    .teaser-title {
        font-size: 1.2em;
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .teaser {
        overflow: hidden;
    }
    .teaser-thumbnail {
        width: 100%;
        height: auto!important;
    }
}
.teaser-area a {
    color: #fff;
    text-decoration: none;
}
.teaser-thumbnail {
    float: right;
    height: 100%;
    margin-left: 10px;
}
/*Page*/

.wrapper {
    padding-top: 50px;
}
.page-title:before {
    content: "";
    display: block;
    width: 37px;
    height: 4px;
    background-color: #fb4329;
    position: relative;
    top: -20px;
}
.page-title {
    font-family: Raleway, sans-serif;
    font-weight: 300;
}
.sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-size: 24px;
}
.quote {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    color: #444;
    line-height: 33px;
    border-left: none;
    padding: 0;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 15%;
}
@media (max-width: 768px) {
    .quote {
        margin: 10%;
        text-align: center;
    }
}
/* About */

.about,
.programmes,
.donate {
    background: url('../img/bg-about.jpg') no-repeat;
    background-size: 100%;
}
.about p,
.donate p {
    line-height: 28px;
}
.founder-nav,
.founder-content {
    list-style: none;
    padding-left: 0;
}
.founder-nav li,
.founder-content li {
    float: left;
}
.founder-nav {
    margin-bottom: 15px;
}
.founder-nav .active img {
    opacity: 1;
}
.founder-content li {
    display: none;
}
.founder-content li.active {
    display: block;
}
.founder-thumb {
    max-height: 100%;
    margin-top: 10px;
    margin-right: 8px;
    opacity: .6;
}
.founder-thumb:hover {
    opacity: 1;
    cursor: pointer;
}
.founder-details {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    background-color: #e79647;
}
.founder-img {
    height: 420px;
    padding: 0;
}
.founder-desc {
    height: 420px;
    padding: 50px 50px;
    padding-right: 5%;
    color: #fff;
    overflow: auto;
}
.founder-name {
    font-size: 30px;
    margin: 0;
    color: #fff;
}
.founder-position {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.partner .row {
    text-align: center;
}
.partner-logo {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*Programmes*/

.programmes {
    line-height: 28px;
}
.programmes article {
    margin-bottom: 40px;
}
.programmes article p {
    margin-bottom: 15px;
}
.programme-title {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
.programme-img {
    width: 100%;
    margin-bottom: 20px;
}
/*Donate*/

.donate ol {
    padding-left: 22px;
    font-weight: 700;
    margin-top: 15px;
}
.donate h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.donate ol p {
    font-weight: 400;
}
.bank-account {
    margin: 10px 0;
}
.bank-primary,
.bank-secondary {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
}
.bank-primary p,
.bank-secondary p {
    text-align: center;
    padding: 70px 0;
}
.bank-primary {
    background-color: #0067b1;
}
.bank-secondary {
    background-color: #e79647;
}
.donor {
    margin: 45px 0 -50px 0;
    overflow: hidden;
}
.donor-cover {
    padding: 0;
    height: 410px;
}
.donor-details {
    background-color: #e79647;
    padding: 4% 5%;
    color: #fff;
    height: 410px;
}
.donor-details h3 {
    font-size: 30px;
}
.donor-details p {
    font-size: 20px;
    font-weight: 300;
}
/*Post*/

.post {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
/*Entry*/

.entry-cover {
    max-height: 360px;
    overflow: hidden;
}
.entry-cover img {
    width: 100%;
    height: 100%;
}
.entry-title {
    font-weight: 700;
    margin-bottom: 0;
}
.entry-title a {
    color: inherit;
}
.entry-title a:hover {
    text-decoration: none;
}
.entry-meta {
    font-style: italic;
}
.meta-category a {
    font-style: normal;
    color: inherit;
}
.meta-comments a {
    color: #f81919;
}
.entry-content {
    margin-top: 15px;
}
.readmore {
    background-color: #025b23;
    border-radius: 5px;
}
.readmore:hover {
    color: #fff;
}
/*Pagination*/

.pagination>li>a {
    color: #025b23;
}
.pagination>.active>a,
.pagination>.active>a:hover {
    background-color: #025b23;
    border-color: #025b23;
}
/*Widget*/

.widget-area {
    padding-left: 15px;
    border-left: 1px solid #d1d1d1;
}
.widget {
    padding-top: 20px;
}
.widget:first-child {
    padding-top: 0;
}
.widget:after {
    content: "";
    padding: 1px 0;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-top: 40px;
}
.widget:last-child:after {
    content: "";
    border: none;
}
.widget a {
    color: #000;
}
.widget img {
    height: auto;
    max-width: 100%;
}
.widget-title {
    font-weight: 700;
    margin-top: 0;
}
.widget ul, .widget_categories ul {
    list-style: none;
    padding-left: 0;
}
.widget_categories ul li {
    border-bottom: 1px solid #d1d1d1;
}
.widget_categories ul li:last-child {
    border-bottom: none;
}
.widget_categories a {
    display: block;
    padding: 7px 0
}
.widget_categories a:hover {
    text-decoration: none
}
.widget_simpleimage p {
    margin: 0
}
.widget_simpleimage:after {
    border: 0;
    margin: 0
}
.widget.widget_simpleimage:last-child:after {
    content: "";
    padding: 1px 0;
    display: block;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 40px;
}
/*Programme Banner*/

.programme-banner {
    position: relative;
}
.programme-banner:hover .caption-banner {
    display: block;
}
.caption-banner {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(231, 150, 71, .6);
}
.caption-banner:hover {
    text-decoration: none;
}
.caption-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/*Author*/

.author {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}
.author-img {
    width: 100%;
}
.author-title {
    font-size: 12px;
}
.author-name {
    font-weight: 700;
    font-size: 16px;
}
/*Related*/

.related-area {
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 20px;
}
.related-title {
    font-weight: 700;
}
.related-post {
    margin-bottom: 25px;
}
.related-post img {
    width: 100%;
}
/*Comments*/

.comments-area {
    margin-bottom: 20px;
}
.comments-area:after {
    content: "";
    padding: 1px 0;
    display: block;
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 40px;
}
.comments-avatar {
    max-height: 50px;
}
.comments-text {
    margin-top: 15px;
}
.media {
    padding-top: 20px;
}
.media-nested .media {
    border-top: 1px solid #d1d1d1;
}
.media-nested {
    padding-left: 100px;
}
.media-comments {
    border-bottom: 1px solid #d1d1d1;
}
.insert-comments {
    margin-bottom: 70px;
}
.insert-comments label input {
    height: 35px;
}
.insert-comments label,
.insert-comments label textarea,
.insert-comments label input {
    width: 100%;
}
.insert-comments label input,
.insert-comments label textarea {
    margin-top: 5px;
}
.insert-comments input[type="submit"] {
    background-color: #015b25;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 25px;
}
/*Contact*/

.contact .col-md-7 {
    padding-right: 50px;
}
.contact form .row {
    margin-bottom: 35px;
}
.contact form input,
.contact form textarea {
    width: 100%;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: inset 2px 9px 5px -8px rgba(210, 210, 210, 1);
    -moz-box-shadow: inset 2px 9px 5px -8px rgba(210, 210, 210, 1);
    -o-box-shadow: inset 2px 9px 5px -8px rgba(210, 210, 210, 1);
    box-shadow: inset 2px 9px 5px -8px rgba(210, 210, 210, 1);
}
.contact form input {
    height: 33px;
}
.contact form textarea {
    height: 212px;
}
.contact form label {
    font-weight: 400;
    font-size: 14px;
}
.btn-submit {
    display: inline-block;
    padding: 1px 20px;
    background: #005b25;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}
/*Footer*/

.footer {
    text-align: center;
    background-color: #282828;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.footer-nav ul {
    padding-left: 0;
}
.footer-nav ul li {
    display: inline-block;
    padding: 8px 0;
}
.footer-nav ul li a {
    padding: 0 15px;
    color: #fff;
}
.copyright {
    padding: 30px 8px 0 8px;
}